<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home Finances</title>
</head>

<body>
    <form action="/cadastrardesp" method="POST">

        <input type="text" name="nome" placeholder="nome da despesa">
        <input type="date" name="data" placeholder="selecione data">
        <input type="number" step="0.01" nome="valor" placeholder="digite o valor">
        <input type="submit" name="btn_enviar" value="enviar">   
    
         
    </form>

</body>

</html>