<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Finance</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <img src="{{url_for('static',filename='img/logo.png')}}" alt="Logo da Empresa">
    <div class="cab">
        <h1>Home Finances</h1>
        <p>O home Finance é um gerenciador financeiro doméstico. Porém, com recursos avançados
            como banco de dados, gráficos e inteligência artifical.
        </p><br>
        <a href="templates/despesa.html"></a>
    </div>
    <br>
    <br>
    <div>




    </div>

    









    

</body>

</html>