<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Despesas</title>
</head>
<body>

    <table border="2">
        <thead>
           <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Data</th>
              <th>Valor</th>
           </tr>

        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>agua caesb</td>
                <td>15/11/2024</td>
                <td>220.56</td>
            </tr>
            <tr>
                <td>2</td>
                <td>luz </td>
                <td>15/11/2024</td>
                <td>152.89</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Internet</td>
                <td>10/11/2024</td>
                <td>110.52</td>
            </tr>


        </tbody>

    </table>
    
</body>
</html>